html,
body {
  background-color: black;
  flex-direction: column;
}

h1 {
  color: azure;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 5rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.menu {
  display: none;
  flex-direction: column;
  width: 100%;
  list-style: none;
  color: azure;
}

.nav-icon {
  color: azure;
  display: block;
}

.nav-toggle:checked + .nav-icon + .menu {
  display: flex;
}

a {
  color: azure;
  justify-content: space-between;
  padding: 0.9rem;
  text-decoration: none;
}

.menu li a:hover {
  color: rgb(0, 44, 53);

  background-color:rgb(176, 250, 250);
  border-radius: 5px;
}

.portada {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: none;
  padding-top: 6rem;
  padding-bottom: 1.9rem;
}

.portada p {
  justify-content:flex-start;
  display: inline;
  color: azure;
}

#contact {
  position: absolute;
  align-items: center;
  left: 1.3rem;
  padding: 0.6rem;
  background-color: transparent;
}

.btn {
  background-color: #04334b;
  border: none;
  color: white;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.3rem 0.1rem;
  cursor: pointer;
}

.btn hover {
  background-color: #05709d;
  color: azure;
}

.input {
  background-color: rgba(40, 41, 41, 0.72);
  color: white;
  width: 70%;
  padding: 0.4rem 0.5rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 0.4rem;
}

.imagenx {
  width: 100%;
  height: auto;
  display: block;
  /* box-shadow: inset 0px 0px 1.3rem rgba(0, 0, 0, 0.5); */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.contact button {
  color: black;
}

.plataformas{
  display: flex;
  justify-content: center;
  padding-bottom: 0.9rem;
  padding-top: 3rem;
}


.plataformas ul li a{
  padding: 0.3rem;
}

.discografia{
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 3rem;
  padding-top: 0;
}

.cd h4{
  color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

.cd p{
  color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7rem;
  text-align: center;
  margin: 0;
}

.cd img{
  width: 13rem;
  height: auto;
  cursor: pointer;
  padding-bottom: 0.6rem;
}

.cd{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid azure;
  border-radius: 0.6rem;
  padding-top: 1.3rem;
  margin: 1.3rem;
}

.rrss{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.rs{
  list-style: none;
}

.socialMedia{
  padding-bottom: 5.3rem;
}


footer{
  width: 100%;
  background-color: black;
  justify-content: center;
  color: azure;
  padding: px;
  font-size: 0.7rem;
  position: fixed;
  float:none;
  bottom: 0;
  text-align: center;
}

.back-to-top{
  display: flex;
  justify-content: baseline;
  align-items: flex-end;
  align-content: flex-end;
}


@media (min-width: 768px) {
  .portada {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }

  .imagenx {
    width: 100%;
    height: auto;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 0.6rem;
    padding-right: 1.3rem;
  }

  .nav-toggle {
    display: none;
  }

  .nav-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .plataformas ul li a{
    padding: 1.3rem;
    font-size: 3rem;
    size: 3rem;
  }

  .discografia{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    padding-top: 0;
  }

  .cd img{
    width: 9.4rem;
    height: auto;
    cursor: pointer;
    padding: 0.6rem;
  }

  footer{
    font-size: 1.0rem;
  }
}

@media (min-width: 1024px) {
  .discografia{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 3rem;
    padding-top: 0;
  }

  .cd img{
    width: 9.4rem;
    height: auto;
    cursor: pointer;
    padding: 0.6rem;
  }

  .plataformas ul li a{
    padding: 1.3rem;
    font-size: 7rem;
    size: 7rem;
  }

  footer{
    font-size: 1.2rem;
  }
}


@media (min-width: 1440px) {
  .discografia{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 3rem;
    padding-top: 0;
  }

  .cd img{
    width: 9.4rem;
    height: auto;
    cursor: pointer;
    padding: 0.6rem;
  }

  .plataformas ul li a{
    padding: 1.3rem;
    font-size: 12rem;
    size: 12rem;
  }


  footer{
    font-size: 1.4rem;
  }
}



@media (min-width: 2560px) {

  .plataformas ul li a{
    padding: 1.3rem;
    font-size: 35rem;
    size: 35rem;
  }
}
