html,
body {
  background-color: black;
  flex-direction: column;
}

nav {
  align-items: start;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
  padding: none;
}

h1 {
  color: azure;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

.menu {
  display: none;
  flex-direction: column;
  width: 100%;
  list-style: none;
  color: azure;
}

.nav-icon {
  color: azure;
  display: block;
}

.nav-toggle:checked + .nav-icon + .menu {
  display: flex;
}

a {
  color: azure;
  justify-content: space-between;
  padding: 15px;
  text-decoration: none;
}

.menu li a:hover {
  color: rgb(0, 44, 53);
  background-color:rgb(176, 250, 250);
  border-radius: 5px;
}

.portada {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: none;
  padding-top: 100px;
  padding-bottom: 30px;
}

.imagenx {
  width: 100%;
  height: auto;

}

.plataformas{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.plataformas ul li a{
  padding: 7px;
}

.discografia{
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 50px;
  padding-top: 0;
}

.cd p{
  color: azure;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  text-align: center;
  margin: 0;
}

.cd img{
  width: 150px;
  height: auto;
  cursor: pointer;
  padding-bottom: 10px;
}

.cd{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid azure;
  border-radius: 10px;
  padding-top: 20px;
  margin: 20px;
}

.singles{
  display: grid;
  grid-template-columns: repeat(auto-fil, 1fr);
  grid-template-rows: repeat(auto-fil, 1fr);
  grid-column-start: 2;
  grid-column-end: 5;
  gap: 50px;
  padding-top: 0;
}

h2{
  color: azure;
  font-size: -1rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}

.rrss{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.rs{
  list-style: none;
}

.socialMedia{
  padding-bottom: 85px;
}


footer{
  background-color: black;
  justify-content: center;
  color: azure;
  padding: 20px;
  font-size: -2rem;
  position: fixed;
  bottom: 0;
}

.back-to-top{
  display: flex;
  justify-content: baseline;
  align-items: flex-end;
  align-content: flex-end;
}


@media (min-width: 768px) {
  .portada {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .imagenx {
    width: 100%;
    height: auto;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 10px;
    padding-right: 20px;
  }
  
  .nav-toggle {
    display: none;
  }
  
  .nav-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

  .plataformas ul li a{
    padding: 20px;
  }

  .discografia{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 50px;
    padding-top: 0;
  }

  .singles{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-start: 2;
    grid-column-end: 5;
    gap: 50px;
    padding-top: 0;
  }

  .cd img{
    width: 150px;
    height: auto;
    cursor: pointer;
    padding: 10px;
  }
}
